body {
    background-color: #fde4d1;
    background-image: url("https://i.pinimg.com/564x/ca/c1/f1/cac1f199d1a2e58db5e667d4fa6731c7.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
			
* {
    margin:0px;
    padding:0px;
}
			
#header {
    margin:auto;
    width:500px;
    height: 900px;
    font-family:Arial;
}

ul, ol {
    list-style:none;
}			

.nav li a {

     list-style: none; display: inline; margin-left:5px;
    background-color:#9e78aa;
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
			
.nav li a:hover {
    background-color:#36767a;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.t1{
    background-color: #009CA6;
    font-size: 90px;
    text-align: center;
    color: #fff;
    background-color: #009CA6;
    
}


.tamaño{
    font-size: 20px;
    font-family: Arial;
}
.titu{
    background-color: #009CA6;
        font-size: 50px;
        text-align: center;
        color: #fff;
        background-color: #009CA6;
        font-family: 'Times New Roman';
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.t{
    color: #030003;
    background-color: #9e78aa;
    font-size: 25px;
}
body{
    background-color: #fde4d1;
    background-image: url("https://i.pinimg.com/564x/ca/c1/f1/cac1f199d1a2e58db5e667d4fa6731c7.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
.cu{
    font-size: 25px;
}
.cu1{
    font-size: 20px;
}
.v1{
    font-size: 30px;
    font-family: Arial;
}